In [3]:
import os
import pandas as pd
import numpy as np
import glob
import fnmatch

In [4]:
# ADD Directory
path = 'C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data'

In [6]:
# get file nams and folders
l=os.listdir(path)
li=[x.split('.')[0] for x in l]

In [7]:
l

['1_서울특별시 공공자전거 이용정보(시간대별)_202006.csv',
 '2_서울특별시 공공자전거 이용정보(시간대별)_201912_202006.csv',
 'excel']

In [45]:
configfiles

['C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data\\bike_2017_01.xlsx',
 'C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data\\bike_2017_02.xlsx',
 'C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data\\bike_2017_03.xlsx',
 'C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data\\bike_2017_04.xlsx',
 'C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data\\bike_2017_05.xlsx',
 'C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data\\bike_2017_06.xlsx',
 'C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data\\bike_2018_01.xlsx',
 'C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data\\bike_2018_02.xlsx',
 'C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data\\bike_2018_03.xlsx',
 'C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data\\bike_2018_04.xlsx',
 'C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data\\bike_2018_05.xlsx',
 'C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data\\bike_2018_06.xlsx',
 'C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data\\bike_2018_07.xlsx',
 'C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data\\bike_2018_08.xlsx',
 'C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data\\bike_2018_09.xlsx',
 'C:\\Users\\chung_es\\Desktop\\courses\\sem_20_02\\예측모델\\팀플\\data\\bike_2018_2019_01.xlsx']

In [46]:
test = pd.read_excel(configfiles[0])

In [47]:
test.head()

,'대여일자','대여시간','대여소번호','대여소','대여구분코드','성별','연령대코드','이용건수','운동량','탄소량','이동거리(M)','이동시간(분)'
0,'2017-01-01','00','230',' 영등포구청역 1번출구','정기','F','~10대',1,31.27,0.39,1680,155
1,'2017-01-01','00','315',' 신한은행 안국역지점 옆','정기','F','20대',1,47.32,0.55,2390,15
2,'2017-01-01','00','328',' 탑골공원 앞','정기','F','20대',1,57.92,0.52,2250,13
3,'2017-01-01','00','175',' 홍연2교옆','정기','F','20대',1,133.29,1.53,6600,43
4,'2017-01-01','00','817',' 삼각지역 4번출구 앞','정기','F','20대',1,33.88,0.32,1380,8

In [10]:
dfs = []

for file in file_list:
    dfs.append(pd.read_excel(file))
    
df = pd.concat(dfs, ignore_index=True)

bike_2017_01
bike_2017_02
bike_2017_03
bike_2017_04
bike_2017_05
bike_2017_06
bike_2018_2019_01
bike_2018_2019_02
bike_2018_2019_03
bike_2018_2019_04
bike_2018_2019_05
bike_2018_2019_06
bike_2019_01
bike_2019_02
bike_2019_03
bike_2019_04
bike_2019_05
bike_2019_06
bike_2019_07
bike_2019_08
bike_2019_09
bike_2019_10
bike_2019_2020_01
bike_2020_01