In [1]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv('../../Data/data_extracted(201806_to_202006).csv', encoding = 'cp949')

In [21]:
df.head(20)

,date,year,month,day,week,weekday,borrow_time,station_num,station_nm,ticket_tp,sex,age_group,use_cnt,momentum,carbon,travel_dist,travel_time
0,2018-06-01,2018,6,1,22,금,15,1308,안암로터리 버스정류장 앞,정기권,F,~under10s,1,41.98,0.49,2120.0,12
1,2018-06-01,2018,6,1,22,금,17,1308,안암로터리 버스정류장 앞,정기권,F,~under10s,1,14.93,0.13,580.0,3
2,2018-06-01,2018,6,1,22,금,17,1308,안암로터리 버스정류장 앞,일일권,F,~under10s,1,398.97,3.60,15500.0,175
3,2018-06-01,2018,6,1,22,금,19,1308,안암로터리 버스정류장 앞,정기권,M,~under10s,1,65.33,0.52,2260.0,12
4,2018-06-01,2018,6,1,22,금,22,1308,안암로터리 버스정류장 앞,정기권,M,~under10s,1,100.62,0.84,3630.0,17
5,2018-06-01,2018,6,1,22,금,17,1308,안암로터리 버스정류장 앞,일일권,F,20s,3,614.53,5.71,24620.0,245
6,2018-06-01,2018,6,1,22,금,18,1308,안암로터리 버스정류장 앞,정기권,F,20s,3,208.63,1.82,7820.0,76
7,2018-06-01,2018,6,1,22,금,8,1308,안암로터리 버스정류장 앞,정기권,F,20s,2,81.49,0.87,3730.0,25
8,2018-06-01,2018,6,1,22,금,15,1308,안암로터리 버스정류장 앞,정기권,F,20s,2,90.74,0.74,3160.0,19
9,2018-06-01,2018,6,1,22,금,20,1308,안암로터리 버스정류장 앞,정기권,F,20s,2,109.86,1.06,4550.0,34
10,2018-06-01,2018,6,1,22,금,22,1308,안암로터리 버스정류장 앞,일일권,F,20s,2,136.91,1.36,5860.0,50
11,2018-06-01,2018,6,1,22,금,6,1308,안암로터리 버스정류장 앞,정기권,F,20s,1,90.97,0.93,4030.0,25
12,2018-06-01,2018,6,1,22,금,15,1308,안암로터리 버스정류장 앞,일일권,F,20s,1,46.33,0.42,1800.0,12
13,2018-06-01,2018,6,1,22,금,16,1308,안암로터리 버스정류장 앞,정기권,F,20s,1,54.83,0.49,2130.0,13
14,2018-06-01,2018,6,1,22,금,16,1308,안암로터리 버스정류장 앞,일일권,F,20s,1,281.08,2.74,11830.0,74
15,2018-06-01,2018,6,1,22,금,17,1308,안암로터리 버스정류장 앞,정기권,F,20s,1,140.83,1.56,6710.0,113
16,2018-06-01,2018,6,1,22,금,19,1308,안암로터리 버스정류장 앞,정기권,F,20s,1,68.43,0.84,3600.0,25
17,2018-06-01,2018,6,1,22,금,21,1308,안암로터리 버스정류장 앞,정기권,F,20s,1,66.10,0.74,3210.0,25
18,2018-06-01,2018,6,1,22,금,22,1308,안암로터리 버스정류장 앞,정기권,F,20s,1,74.45,0.93,4000.0,26
19,2018-06-01,2018,6,1,22,금,23,1308,안암로터리 버스정류장 앞,정기권,F,20s,1,13.90,0.13,540.0,4

In [14]:
df.tail()

,대여일자,대여시간,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,이동시간
59915,2019-02-27,17,1308,안암로터리 버스정류장 앞,정기권,F,30대,1,29.19,0.31,1340.0,6
59916,2019-02-27,17,1308,안암로터리 버스정류장 앞,정기권,M,20대,2,153.35,1.31,5640.0,28
59917,2019-02-27,17,1308,안암로터리 버스정류장 앞,정기권,M,40대,2,152.74,1.29,5550.0,25
59918,2019-02-27,18,1308,안암로터리 버스정류장 앞,정기권,M,20대,1,62.65,0.52,2260.0,20
59919,2019-02-27,19,1308,안암로터리 버스정류장 앞,정기권,F,20대,2,243.75,2.27,9800.0,58

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59920 entries, 0 to 59919
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   대여일자    59920 non-null  object
 1   대여시간    59920 non-null  int64
 2   대여소번호   59920 non-null  int64
 3   대여소명    59920 non-null  object
 4   대여구분코드  59920 non-null  object
 5   성별      39796 non-null  object
 6   연령대코드   59920 non-null  object
 7   이용건수    59920 non-null  int64
 8   운동량     59920 non-null  object
 9   탄소량     59920 non-null  object
 10  이동거리    59920 non-null  float64
 11  이동시간    59920 non-null  int64
dtypes: float64(1), int64(4), object(7)
memory usage: 5.5+ MB

In [17]:
for col in df.columns:
    print(col)
    print('unique value: {}'.format(len(df[col].value_counts())))
    empty_df = pd.DataFrame(df[col].value_counts())
    print(df[col].value_counts())
    empty_df.to_csv('./unique_val/%s.csv'%col, encodig = 'cp949')
    print('\n')

대여일자
unique value: 898
2019-05-26         238
2019-05-30         218
2019-05-31         218
2019-05-24         209
2019-05-28         208
                  ...
2018-02-10 0:00      7
2018-11-08 0:00      4
2019-02-03           3
2018-04-23 0:00      3
2020-01-07           1
Name: 대여일자, Length: 898, dtype: int64

TypeError: to_csv() got an unexpected keyword argument 'encodig'

In [11]:
len(df[col].value_counts())

402